<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 footer-text-section">
                <p class="footer-heading">UtsavAI</p>
                <p class="footer-text">Your smart event planning asistant since 2024!</p>
            </div>
            <div class="col-md-6 footer-link-section">
                <a href="">Support</a><br>
                <a href="">Help Center</a><br>
                <a href="">Contact Support</a><br>
                <a href="">How to Tutorials</a><br>
                <a href="">Get in Touch</a>
            </div>
        </div>
        <div class="copyright">UtsavAI &copy; 2024</div>
    </div>
</footer>