<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/Images/logo.png" alt="" srcset="" width="60px">UtsavAI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" href="#">Home</a>
                    <a class="nav-link" href="#">About Us</a>
                    <a class="nav-link" href="#">Contact Us</a>
                    <a class="nav-link" href="#">Enquiry Now</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a class="nav-link ai-button1" href="#">AI Planner</a>
                    <a class="nav-link ai-button2" href="#">Explore</a>
                </div>
            </div>
        </div>
    </nav>
</header>