<% layout("/layouts/boilerplate") %>
<body>
    <main class="container-fluid">
        <div class="row">
            <div class="col-md-7 get-started-text">
                <p class="fs-1">Discover Top <br> Event Services</p>
                <p class="fs-6">Plan Events Seamlessly with UtsavAI</p>

                <div>
                    <form action="http://localhost:8080/vendorlist" method="get">
                        <button class="btn ai-button2">Get Started</button>
                    </form>
                </div>

            </div>
            <div class="col-md-5 get-started-image">
                <img src="/Images/Started-Page-Photo.jpg" class="img-fluid" alt="Get Started" width="100%">
            </div>
        </div>
        <div class="row middle-section">
            <p class="fs-4">Discover the power of Ai in event planning</p>
            <p class="fs-6">Coming soon</p>
        </div>
    </main>
</body>